<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>HelloWorld2</servlet-name>
  	<display-name>HelloWorld2</display-name>
  	<description></description>
  	<servlet-class>study.HelloWorld2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletEx</servlet-name>
  	<display-name>ServletEx</display-name>
  	<description></description>
  	<servlet-class>study.ServletEx</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletEx2</servlet-name>
  	<display-name>ServletEx2</display-name>
  	<description></description>
  	<servlet-class>study.ServletEx2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletEx4</servlet-name>
  	<display-name>ServletEx4</display-name>
  	<description></description>
  	<servlet-class>study.ServletEx4</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletEx5</servlet-name>
  	<display-name>ServletEx5</display-name>
  	<description></description>
  	<servlet-class>study.ServletEx5</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletEx6</servlet-name>
  	<display-name>ServletEx6</display-name>
  	<description></description>
  	<servlet-class>study.ServletEx6</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ServletEx7</servlet-name>
  	<display-name>ServletEx7</display-name>
  	<description></description>
  	<servlet-class>study.ServletEx7</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MemberServletEx</servlet-name>
  	<display-name>MemberServletEx</display-name>
  	<description></description>
  	<servlet-class>study.MemberServletEx</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MemberServletList</servlet-name>
  	<display-name>MemberServletList</display-name>
  	<description></description>
  	<servlet-class>study.MemberServletList</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MemberServletUpdate</servlet-name>
  	<display-name>MemberServletUpdate</display-name>
  	<description></description>
  	<servlet-class>study.MemberServletUpdate</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MemberServletDelete</servlet-name>
  	<display-name>MemberServletDelete</display-name>
  	<description></description>
  	<servlet-class>study.MemberServletDelete</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServletEx</servlet-name>
  	<display-name>LoginServletEx</display-name>
  	<description></description>
  	<servlet-class>study.LoginServletEx</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MemberListServlet</servlet-name>
  	<display-name>MemberListServlet</display-name>
  	<description></description>
  	<servlet-class>study.MemberListServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MemberAddServlet</servlet-name>
  	<display-name>MemberAddServlet</display-name>
  	<description></description>
  	<servlet-class>study.MemberAddServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>MemberServletUpdate2</servlet-name>
  	<display-name>MemberServletUpdate2</display-name>
  	<description></description>
  	<servlet-class>study.MemberServletUpdate2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>study.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>test</servlet-name>
  	<display-name>test</display-name>
  	<description></description>
  	<servlet-class>study2.test</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NonageServlet</servlet-name>
  	<display-name>NonageServlet</display-name>
  	<description></description>
  	<servlet-class>com.nonage.controller.NonageServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>NonageServlet2</servlet-name>
  	<display-name>NonageServlet2</display-name>
  	<description></description>
  	<servlet-class>project.NonageServlet2</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>JoinAction</servlet-name>
  	<display-name>JoinAction</display-name>
  	<description></description>
  	<servlet-class>com.nonage.controller.action.JoinAction</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>test_joinServlet</servlet-name>
  	<display-name>test_joinServlet</display-name>
  	<description></description>
  	<servlet-class>study2.test_joinServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>joinServlet</servlet-name>
  	<display-name>joinServlet</display-name>
  	<description></description>
  	<servlet-class>study2.joinServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>loginServlet</servlet-name>
  	<display-name>loginServlet</display-name>
  	<description></description>
  	<servlet-class>study2.loginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GHEServlet</servlet-name>
  	<display-name>GHEServlet</display-name>
  	<description></description>
  	<servlet-class>ghe.controller.GHEServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>UploadServlet</servlet-name>
  	<display-name>UploadServlet</display-name>
  	<description></description>
  	<servlet-class>study2.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>HelloWorld2</servlet-name>
  	<url-pattern>/HelloWorld2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletEx</servlet-name>
  	<url-pattern>/ServletEx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletEx2</servlet-name>
  	<url-pattern>/ServletEx2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletEx4</servlet-name>
  	<url-pattern>/ServletEx4</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletEx5</servlet-name>
  	<url-pattern>/ServletEx5</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletEx6</servlet-name>
  	<url-pattern>/ServletEx6</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ServletEx7</servlet-name>
  	<url-pattern>/ServletEx7</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MemberServletEx</servlet-name>
  	<url-pattern>/MemberServletEx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MemberServletList</servlet-name>
  	<url-pattern>/MemberServletList</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MemberServletUpdate</servlet-name>
  	<url-pattern>/MemberServletUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MemberServletDelete</servlet-name>
  	<url-pattern>/MemberServletDelete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServletEx</servlet-name>
  	<url-pattern>/LoginServletEx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MemberListServlet</servlet-name>
  	<url-pattern>/MemberListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MemberAddServlet</servlet-name>
  	<url-pattern>/MemberAddServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>MemberServletUpdate2</servlet-name>
  	<url-pattern>/MemberServletUpdate2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>test</servlet-name>
  	<url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>NonageServlet</servlet-name>
  	<url-pattern>/NonageServlet</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
  	<servlet-name>NonageServlet2</servlet-name>
  	<url-pattern>/NonageServlet2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>JoinAction</servlet-name>
  	<url-pattern>/JoinAction</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>test_joinServlet</servlet-name>
  	<url-pattern>/test_joinServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>joinServlet</servlet-name>
  	<url-pattern>/joinServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>loginServlet</servlet-name>
  	<url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GHEServlet</servlet-name>
  	<url-pattern>/GHEServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UploadServlet</servlet-name>
  	<url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  
  
</web-app>